<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
{% block nav %}
    <nav>
        <a href="{% url 'home' %}" class="menu-item">Home</a>
        <a href="{% url 'list_products' %}" class="menu-item">Products</a>
        <a href="{% url 'about' %}" class="menu-item">About</a>
    </nav>
{% endblock %}
{% block content %}


{% endblock %}

</body>
</html>